/* ======== General Styles ======== */

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.body {
  width: 375px;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid gray;
}

/* ======== Header ======== */
.header {
  height: 280px;
  width: 100%;
  background-image: url("./resources/images/landing-page-heroimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.topbar {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  padding: 15px 20px 0px 20px;
}
.time {
  color: white;
  margin-left: 10px;
}
.symbols {
  display: inline-flex;
  margin-right: 10px;
}
.SignalStrengh, .WifiSymbol, .BatteryLevel {
  width: 16px;
  margin: auto 5px auto 5px;
}
.BatteryLevel {
  background-color: white;
  height: 100%;
  height: 10px;
}

.whatRU {
  width: 320px;
  border: 5px double white;
  border-width: 4px;
  padding: 10px;
  margin: auto;
}

/* ======== Caracters ======== */

.CaractersSection {
  margin-top: 2em;
  width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.caractersDisplayed {
  height: 80%;
}
.caracterImg {
  max-width: 90%;
  padding: 5px;
}
.caracter {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 5px 0px 10px ;
  text-align: left;
  line-height: 0.7em;
}

.name{
  font-weight: bolder;
}

.notStated {
  font-style: italic;
  font-size: 0.8em;
  text-align: right;

}

.dataFromAPI span {
  font-weight: bold;
  font-size: 0.8em;
  text-align: right;
}
.invite {
  font-weight: bold;
  font-size: 0.8em;
  text-align: left;
  color: #0096D6;
  padding-left: 10px;
  margin-top: 0;
}

/* ======== Success Congrats ======== */

.congrats{
  height: 100%;
}

/* ======== Invite Pop-up ======== */

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
  display: flex;
  align-items: center;
}  
.popup_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3em;
}

.popup_inner form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  padding: 2px;
}

button {
  align-self: center;
  height: 40px;
  width: 80%;
}